.station-preview-container {
    .station-card {
        justify-content: stretch;
        background-color: $clr3;
        border: 1px solid rgba(255, 255, 255, 0.5);
        min-height: 300px;
        width: 200px;
        margin: 0;
        padding: 0;
        border-radius: 25px;
        transition: .3s;
        &:hover {
            box-shadow: 0px 0px 7px 1px white;
            border: 1px solid $clr1;
            .station-genre-container {
                display: flex;
            }
            p {
                display: none;
            }
        }
        .station-genre-container {
            width: 100%;
            justify-content: center;
            text-align: center;
            display: none;
            >* {
                margin: 5px;
            }
        }
        >* {
            padding: 2px;
            margin: 0;
            text-align: center;
        }
        img {
            border-radius: 50%;
            margin-top: 7px;
            margin-bottom: 5px;
            width: 150px;
            height: 150px;
            object-fit: cover;
            border: 1px solid rgba(255, 255, 255, 0.5);
        }
        h2 {
            margin: 0;
            color: $clr1;
        }
        p {
            margin: 5px;
             :first-child {
                color: red;
                width: 15px;
                height: 15px;
            }
        }
    }
}