.filter-genre-container {
    margin: 1em;
    margin-top: 0;
    > * {
        width: 80px;
        border-radius: 30px;
        &:hover {
            transform: translateY(-5px);
        }
    }
}

.clicked-filter-btn {
    color: white;
    background-color: $clr5;
    border-color: $clr1;
}

.filter-container {
    :first-child {
        input {
            border-radius: 10px;
            width: 30em;
        }
    }
}

@include for-wide-layout {
    .filter-genre-container {
        width: 100%;
        max-width: 88vw;
        display: -webkit-box;
        overflow: auto;
        margin: 15px 0;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        > :first-child {
            margin-left: 0;
        }
        > * {
            display: list-item;
            min-width: 80px;
        }
        > :first-child {
            margin-left: 20px;
        }
    }
    .filter-container {
        width: 100%;
    }
}

@include for-mobile-layout {
    .filter-genre-container {
        overflow: auto;
        width: 100%;
        display: -webkit-box;
        margin-top: 2vh;
        :first-child {
            margin-left: 0;
        }
        > * {
            display: list-item;
            min-width: 80px;
        }
    }
    .filter-container {
        :first-child {
            input {
                margin-top: 2vh;
                width: 90vw;
            }
        }
    }
}
