.station-cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 300px);
    gap: 25px;
    width: 100%;
    .list-empty {
        grid-column: 3/5;
        text-align: center;
        color: rgb(151, 151, 151);
    }
}

@include for-wide-layout {
    .station-cards-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 55px 0px;
    }
}

@include for-normal-layout {
    .station-cards-container {
        gap: 25px 0px;
    }
}

@include for-narrow-layout {
    .station-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include for-mobile-layout {
    .station-cards-container {
        grid-template-columns: 40vw 40vw;
        gap: 7vw;
        .list-empty {
            grid-column: 1/3;
            text-align: center;
            color: rgb(151, 151, 151);
        }
    }
}
