.station-cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 300px);
    gap: 25px;
    .list-empty {
        grid-column: 2/5;
        text-align: center;
        color: rgb(151, 151, 151);
    }
}

@include for-mobile-layout {
    .station-cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.125rem;
        .list-empty {
            grid-column: 2/5;
            text-align: center;
            color: rgb(151, 151, 151);
        }
    }
}