.explore-container {
    margin-top: 1em;
    .explore-header {
        >* {
            margin: 0;
        }
        h1 {
            font-size: 35px;
            color: $clr1;
        }
    }
    .station-list-container {
        width: 100%;
        height: 100%;
    }
}